.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  &__brend {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;    
  }
}
.nav {
  //position: fixed !important;
  display: flex;
  flex-direction: column;
  width: 100%;
  .row {
    position: relative;
  }
  &__brand {
    width: 100%;  
    display: flex;
    justify-content: space-around;  
    &_logo {
      .adaptiv(2,2,2,2,2);
      img{ width: 70%;}
    }
    &_slogan {
      .title();
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      text-transform: uppercase;
      .adaptiv(7,7,7,7,7);
    }
    &_telephon {
      .title();
      display: flex;
      justify-content: flex-end;
      text-align: center;
      align-items: center;
      .adaptiv(3,3,3,3,3);
      a {
        color: #373737;
        text-decoration: none;
        .text();
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
  &__menu {
    .row {
      justify-content: center;
    }
    .mobile {
      display: flex;
      justify-content: center;
      .adaptiv(7,7,7,7,7);
      margin-left: -90px;
    }
    width: 100%;
    background-color: #fcf6d6;
    display: block;
    &_list {
      display: flex;
      justify-content: space-around;
      width: 100%;
      padding-left: 0;
      &_item {
        //padding: 0 15px;
        display: flex;
        a {
          color: #373737;
          text-decoration: none;
          .text();
          font-weight: 700;
          display: block;
          line-height: 15px;
        }
      }
    }
  }
}
.fixed {
  position: fixed !important;
  .nav__brand {
    &_logo {
      img {
        width: 70%;
      }
      position: absolute;
      margin-top: -15px;
    }
    &_slogan {
      display: none;
    }
    &_telephon {
      position: absolute;
      right: 0;
      top: 50% !important;
      margin-top: 23px;
      transform: translateY(-50%);
    }
  }
}
