@import 'grid';
@import 'var';
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800|Open+Sans+Condensed:300,700&display=swap&subset=cyrillic,cyrillic-ext');
@import "nav";
body {
	box-sizing: border-box;
}
.title() {
  font-family: 'Montserrat', sans-serif;
}
.text() {
  //font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Montserrat', sans-serif;
}
img {
  outline: none;
  width: 100%;
}
.container {
  .container();
}
.row {
  .row();
}
.about {
  padding-top: 50px;
  box-shadow: 0 0 5px rgba(0,0,0,.3);
  background-color: #f4f4f4;
  padding: 20px 0;
  h1 {
    .title();
    padding-top: 50px;
    text-align: center;
    color: @yellow;
  }
  span {
    .text();
    color: #373737;
    font-weight: 500;
    font-size: 24px;
  }
  ul {
    //padding: 20px;
    li {
      .text();
      font-size: 16px;
      line-height: 2;
    }
  }
  .row {
    position: relative;    
    &:before {
      content: '';
      position: absolute;
      height: 100%;
      right: 15px;
      left: 15px;
      background-color: #fcf6d6;
    }
  }
  .text();
  &__img {
    .adaptiv(10,10,10,6,6);
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &__text {
    padding: 0 30px !important;
    .adaptiv(10,10,10,6,6);
  }
}
.news {
  padding: 30px 0;
  background-color: #f4f4f4;
  box-shadow: 0 0 5px rgba(0,0,0,.3);
  .text();
  .row {
    justify-content: center;
  }
  .row:nth-child(2) {
    text-align: end;
  }
  &__block {
    .adaptiv(10,10,6,4,3);
    &_item {
      background-color: @yellow;
      position: relative;
      height: 300px;
      &_img {
        position: absolute;
        background-color: #212121;
        left: 10px;
        right: 10px;
        bottom: 10px;
        top: 10px;
        transition: all .5s ease;
        z-index: 1;
        &:hover {
          bottom: 90px;
        }
        img {
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          object-fit: cover;
          cursor: pointer;
        }
      }
      h4 {
        position: absolute;
        top: 0;
        left: 15px;
        color: #ffffff;
        text-shadow: 0 0 5px rgba(0, 0, 0, .6);
        font-size: 14px;
        z-index: 1;
      }
      &_text {
        position: absolute;
        height: 70px;
        left: 10px;
        right: 10px;
        bottom: 0px;
      }
    }
  }
  h1 {
    .adaptiv(12,12,12,12,12);
    font-size: 24px;
    width: 100%;
    position: relative;
    &:after {
      content: '';
      border-bottom: 1px solid rgba(0, 0, 0, .3);
      height: 1px;
      width: 100%;
      bottom: 0;
      display: block;
    }
  }
  &__full {
    padding: 20px 15px !important;
    position: relative;
    .adaptiv(12,12,12,12,12);
    a {
      .text();
      text-decoration: none;
      color: #373737;
      position: relative;
      padding-right: 30px;
      &:before {
        content: ' »» ';
        position: absolute;
        right: 0px;
        animation: anilink 2s infinite linear;
        transition: all .5s;
      }
    }
    &:before {
      content: '';
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      border-top: 1px solid rgba(0,0,0,.3);
    }
  }
}
.office {
  background-color: @yellow;
  box-shadow: 0 0 5px rgba(0,0,0,.3);
  text-align: center;
  .text();
  color: #111;
  padding: 20px 0;
  .row {
    justify-content: center;
  }
  &__hours {
    .adaptiv(3,3,3,3,3);
    h3 {
      text-transform: uppercase;
      font-size: 24px;
    }
    p {
      font-size: 16px;
      line-height: 1.5;
      margin: 0;
    }
    p.clock {
      font-size: 34px;
    }
  }
}
.footer {
  padding: 20px 0;
  background-color: #000000;
  font-size: 14px;
  .row:nth-child(2) {
    justify-content: center;
  }
  a {
    color: @yellow;
    text-decoration: none;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      border-bottom: 2px solid @yellow;
      bottom: 0;
      height: 2px;
      width: 0%;
      right: 0;
      transition: all .5s ease;
    }
    &:hover {
      &:before {
       right: auto;
       width: 100%;
       left: 0;
      }
    }
  }
  .text();
  color: @yellow;
  box-shadow: 0 0 5px rgba(0,0,0,.3);
  .row {
    align-items: center;
    justify-content: space-between;
  }
  
  &__info {
    .adaptiv(4,4,4,4,4);
    p {
      padding: 0;
      margin: 0;
      a {
        color: @yellow;
      }
    }
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
}
@keyframes anilink {
  0% {
    right: 0px; 
  }
  20% {
    right: 5px; 
  }
  40% {
    right: 0px; 
  }
  80% {
    right: 5px; 
  }
  100% {
    right: 0px; 
  }
}